html body{
    box-sizing: border-box;
    background-color:orange;
    background-image: url(./images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  

}`
input{
    color: white;
    width: 50%;
    padding:15px ;
    margin:10px ;
    box-sizing: border-box;
    border: 1px solid gray;
    outline: none;
    font-size: 20px;
    background-color: black;
    margin-left: 20px;

}
.containers{
    margin-top: 30px;
    width:50%;
    height:100%;
    border-radius: 10px;
    background-color:black;
    padding-top:5px;
    padding-bottom: 5px;
    

}
#submit{
    background-color:orange;
    opacity: 1.0;
    outline: none;
    margin-top: 25px;
    margin-bottom: 30px;
}
.gender{
    display: block;
    padding: 10px;
}
.boxs{
    display: flex;
    align-items: center;
    justify-content: center;

}
.form{
    /* min-height: 100%; */
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:45%;
    height: 85%;
    background-color:rgba(255,255,255,0.7);
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0, 0, 0, 0.5);
    padding:40px;
    border-radius: 10px;
}
input[type="rdio"]{
    color: white;
    font-size: 18px;
}



