html body{
    box-sizing: border-box;
    background-color:#153f66;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h2{
    text-align: center;
    font-size: 25px;
    color: white;
}
/* .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    bottom: 0%;
    left: 50%;
    width:50%;
    height:85%;
    border-radius: 15px;
    background-color:rgba(255,255,255, 0.7);
    padding-top:5px;
    padding-bottom: 5px; 
} */
.form-container{
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:50%;
    height: 80%;
    background-color:rgba(255,255,255,0.7);
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0, 0, 0, 0.5);
    padding:40px;
    border-radius: 10px; 
    margin-top: 15px;
}
input{ 
    display: flex;
    align-items: center;
    width: 50%;
    padding:15px ;
    margin:10px 0;
    box-sizing: border-box;
    border-radius:15px;
    border: none;
    outline: none;
    font-size: 20px;
    
}